* {
    padding: 0;
    margin: 0;

}

.main {
    display: flex;
    background-image: url(/images/about/about-header-img.png);
    height: 100vh;
    /* 100% of the viewport height */
    width: 100vw;
    /* 100% of the viewport width */
    background-size: cover;
    color: #FFEFEC;
}

.readaboutus {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;

}

.read {
    font-family: "Poppins", monospace;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.1em;
    transform: translate(0%, 150%);
    color: #FFEFEC;
}

.about_us {
    font-family: Yesteryear;
    font-size: 157px;
    font-weight: 400;
    line-height: 224px;
    letter-spacing: 0em;
    font-family: 'Yesteryear', monospace;
}




.upmenu {
    display: inline-flex;
    position: fixed;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 277px;
    padding-right: 277px;
    padding-top: 63px;
    padding-bottom: 63px;
}

.menutext {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.traveltext {
    width: 150px;
    height: 80px;
    background-repeat: no-repeat;
    background-image: url(/images/logo.png);
}

.menudetails {
    font-family: "Poppins", monospace;
    padding: 15px;
}

.buttongetintouch {
    width: 152px;
    height: 58px;
    text-align: center;
    justify-content: center;
    background-color: #DF6951;
    border-radius: 10px;
    font-family: "Poppins", monospace;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    padding: 15px;
}