.main-header {
  width: 100%;
  height: 100vh;
  background: url(/images/location/tour-location-homepage.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-text {
  text-align: center;
  margin-top: 90px;
}

.header-text h2 {
  color: #ffefec;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.header-text h1 {
  color: #fff;
  font-family: Yesteryear;
  font-size: 157.426px;
  font-style: normal;
  font-weight: 400;
  line-height: 223.678px; /* 142.085% */
}
.booking-container {
  width: 1350px;
  margin: 0 auto;
  transform: translateY(-60px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}
.filter-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #343434;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 40px 20px;
}
.filter-item h4 {
  padding-left: 10px;
}
.filter-item i {
  font-size: 26px;
}
.booking-filter-items {
  display: flex;
  margin-bottom: 20px;
  background: #f8f8f8;
}
.trip-bookings-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trip-bookings-filter ul {
  display: flex;
  background: #f8f8f8;
  text-align: center;
}

.trip-bookings-filter ul li {
  margin: 15px 16px;
}

.trip-bookings-filter ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  color: #343434;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.trip-bookings-filter ul span {
  font-size: 20px;
  margin: 5px;
}
.booking-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 10px;
  justify-content: center;
}

.booking-card:hover {
  zoom: 1.005;
  border-radius: 21px;
  background: #fff;
  box-shadow: 0px 4.325px 51.896px 12.974px rgba(0, 0, 0, 0.09);
}
.booking-card img:hover {
  border-radius: 20px 20px 0 0;
}
.booking-card img {
  transition: all 0.6s ease;
}

.booking-area {
  display: flex;
  gap: 15px;
  padding-bottom: 100px;
  background: #fff;
  position: relative;
}
.booking-area-maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 29px;
  margin: 0 20px 0 40px;
  width: 700px;
}
.maps-title {
  color: #181e4b;
  font-family: Volkhov;
  font-size: 31.622px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.maps-content {
  color: #181e4b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.booking-card {
  width: 350px;
  padding: 15px;
  transition: all 0.3s ease;
}

.booking-card-img {
  height: 257px;
}

.booking-card-img img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 257px;
}
.img-info-date {
  display: flex;
  background: #df6951;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
.img-info-date span {
  margin-right: 8px;
}
.img-info-date div {
  display: flex;
  margin: 5px 18px;
  align-items: center;
  justify-content: center;
}
.booking-img-info {
  padding-left: 10px;
}
.booking-img-info h3 {
  color: #181e4b;
  font-family: Volkhov;
  font-size: 34.188px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin: 16px 0px;
}

.booking-img-info p {
  color: #181e4b;
  font-family: Poppins;
  font-size: 17.299px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin: 16px 0px;
}

.img-info-price span {
  margin: 26px 16px 0px 0px;
}
.img-info-star i {
  margin-right: 5px;
  color: #df6951;
}
.img-info-star {
  color: #262626;
  text-align: center;
  font-family: Poppins;
  font-size: 17.299px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.img-info-price-1 {
  color: #262626;
  text-align: center;
  font-family: Poppins;
  font-size: 17.299px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.booking-search-area {
  margin-right: 50px;
  padding: 0;
}
.search-items {
  background: #ededed;
  padding: 10px 10px;
}
.booking-container-2 {
  display: flex;
  gap: 20px;
  padding-left: 15px;
  padding-bottom: 120px;
}
.search-bar input {
  padding: 7px;
}

.galery-page-list ul {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.galery-page-list ul li {
  padding: 0 20px;
  color: #181e4b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.galery-page-list ul li i {
  font-size: 20px;
}
.search-bar i {
  opacity: 0.1;
}
.search-info h3 {
  color: #181e4b;
  text-align: center;
  font-family: Volkhov;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 25px;
}

.search-info p {
  color: black;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}

.search-bar input {
  outline: none;
  border: none;
  margin: 20px 0;
  opacity: 0.6;
  font-size: 16px;
}
.search-bar i {
  opacity: 0.6;
  padding-left: 10px;
}
.search-tour,
.search-date,
.search-where {
  background-color: white;
  margin: 10px 14px;
  text-align: left;
  padding-left: 10px;
}
.price-filter {
  margin: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price-filter h4 {
  color: #343434;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.price-filter button {
  border-radius: 10px;
  margin-top: 10px;
  background: #df6951;
  box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
  text-align: center;
  padding: 15px 0;
  align-self: center;
  border: none;
  color: white;
  font-weight: 700;
  width: 150px;
}
.price-filter p {
  color: rgba(0, 0, 0, 0.56);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.booking-container-img {
  position: absolute;
  z-index: 0;
  bottom: 150px;
  right: 0;
}
.booking-container-img img {
  height: 350px;
}
.booking-container-img2 {
  transform: translateY(7px);
}

.footer-container {
  display: flex;
  width: 60%;
  padding-bottom: 30px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 120px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.footer h5 {
  text-align: center;
  color: #181433;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.32px;
}

.footer-logo ul {
  display: flex;
  margin: 10px 0;
}

.footer-logo p {
  color: #757095;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.32px;
}

.footer-logo ul li {
  color: #df6951;
  margin-right: 14px;
}

.footer-company h4 {
  color: #181433;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.footer-company ul li {
  margin: 15px 0;
  color: #181433;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.footer-destinations h4 {
  color: #181433;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 114.286% */
}

.footer-destinations ul li {
  margin: 15px 0;
  color: #181433;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.footer-join h4 {
  color: #181433;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 16px;
}

.footer-join input {
  padding: 10px 25px 10px 10px;
  background-color: #eef;
  border: none;
  outline: none;
  margin-bottom: 15px;
  color: #eeeeff;
}

.footer-join button {
  padding: 10px 16px;
  border-radius: 12px;
  background-color: #df6951;
  color: #fff;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: 500;
  grid-area: button;
}

.footer-join p {
  color: #181433;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.32px;
  opacity: 0.8;
}

.input-range {
  position: relative;
  padding: 10px;
  width: 100%;
  background: white;
}
.input-range input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  accent-color: red;
  -webkit-appearance: none;
  background: none;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  background: #df6951;
}
.booking-area-galery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking-galery-row {
  display: flex;
  column-gap: 20px;
}
.booking-galery-col {
  display: flex;
  gap: 20px;
}

.galery-col {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.trip-galery-img7 {
  background-size: cover;
  width: ;
  :300px ;
}

.booking-container-2 {
  display: none;
}
